# Homework 3  - Tryout pandas and numpy

Copy this notebook. Rename it as: YOURNAME-Homework-panda-numpy-Sept-2017

with your name replacing yourname and  replaced with the date you submit or to the last part.

Do the homeworks problems below.

Upload your completed jupyter notebook to your github site and send me the url via the elearning site as your homework submission. Please note that you need to do your own 3.4, and 3.5 if you share data and analysis from others then you cannot get more than a 3.

## Homework 3.1

### 3.1.a
Load the data from: http://opendata.dc.gov/datasets that I have include in this github   
into a dataframe.  ( The file has been is available in directory ./data/ccp_current_csv.csv )

In [4]:
import pandas as pd
data=pd.read_csv('./data/ccp_current_csv.csv' )
data

,STREET,QUADRANT,FROMINTERSECTION,TOINTERSECTION,NOOFBLOCKS,WORKDESCRIPTION,YEARBUDGETED,PERCENTCOMPLETED,STATUS,MILES,...,YCOORD,LATITUDE,LONGITUDE,PROJECTNOTE,PROJECTNAME,PROJECTMGR,PROJECTID,TEAMREP,EMAIL,CONTACTPHONE
0,13th St,NW,Kennedy St,Longfellow St,1,Pavement Resurface/restoration,2004,100,Completed,0.07,...,143205.11981,38.956747,-77.029694,NaN,FedAid,Paul Stephenson,5834,O. Hill,NaN,202-671-4591
1,S St,NW,North Capitol St,3rd St,3,Regular Cover,1999,100,Completed,0.33,...,138468.90256,38.914085,-77.012411,NaN,NaN,NaN,2467,NaN,NaN,NaN
2,Rhode Island Ave,NE,Brentwood Rd (W),Brentwood Rd (M),1,Pavement Resurface/restoration,2004,100,Completed,0.09,...,139574.10659,38.924041,-76.987221,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5486,Said Cherifi,said.cherifi@dc.gov,202-671-4611
3,Mill Rd,NW,27th St,Cul De Sac,1,Pavement Resurface/restoration,2004,100,Completed,0.07,...,138132.90198,38.911046,-77.054077,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local ...,Maduabuchi Udeh,5796,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
4,Rhode Island Ave,NE,Brentwood Rd (M),14th St Evarts St Montan,2,Pavement Resurface/restoration,2005,100,Completed,0.16,...,139657.25318,38.924790,-76.985068,NaN,NaN,NaN,8237,NaN,NaN,NaN
5,Mellon St,SE,5th St,Martin Luther King Jr Ave,1,Pavement Resurface/restoration,2005,100,Completed,0.20,...,130948.25958,38.846337,-76.998463,NaN,CIP_2004-2009,FY-05,4175,NaN,NaN,NaN
6,Nebraska Ave,NW,Northampton St,Oliver St,1,Pavement Resurface/restoration,2004,100,Completed,0.07,...,144260.95520,38.966246,-77.061675,NaN,Citywide Pavement Restoration,Paul Stephenson,5296,M. Howard and O. hill,NaN,202-671-4591
7,Military Rd,NW,30th St,Broad Branch Rd,4,Pavement Resurface/restoration,2004,100,Completed,0.35,...,143680.41824,38.961016,-77.062994,NaN,FedAid_6YR_CIP,Paul Stephenson,4762,O. Hill,NaN,202-671-4591
8,Nebraska Ave,NW,Oliver St,Utah Ave,1,Pavement Resurface/restoration,2005,100,Completed,0.04,...,144332.34858,38.966889,-77.061126,NaN,Citywide Pavement Restoratin,paul Stephenson,7867,M. Howard and O. Hill,NaN,202-671-4591
9,16th St,NW,Alaska Ave,Primrose Rd,13,Reconstruction,1999,100,Completed,0.97,...,145993.53492,38.981864,-77.036344,Reconstruction of 16th St. from Alaska to Prim...,Recons of 16TH St. from Alaska to Prime Rose ...,Eskender Konjit,2349,Porter Curtis,Porter.Curtis@Dc.gov,202-671-4581
10,Shoemaker St,NW,Linnean Ave,Tilden St,1,Upgrading,2004,100,Completed,0.06,...,141355.75200,38.940080,-77.052639,NaN,NaN,NaN,2605,NaN,NaN,NaN
11,Underwood St,NW,Piney Branch Rd,Georgia Ave (S),1,Reconstruction,2004,100,Completed,0.08,...,144524.25789,38.968631,-77.026720,NaN,Citywide Pavement Restoration,Paul Stephenson,2620,NaN,NaN,NaN
12,Elder St,NW,7th St,8th St,1,Regular Cover,2004,100,Completed,0.08,...,145484.90736,38.977286,-77.023701,NaN,NaN,NaN,2502,NaN,NaN,NaN
13,26th St,NW,Northampton St,Rittenhouse St,1,Regular Cover,2004,100,Completed,0.16,...,144523.71012,38.968616,-77.055131,NaN,NaN,NaN,2474,NaN,NaN,NaN
14,4th St,NW,Madison St (N),Peabody St,5,Regular Cover,1999,100,Completed,0.27,...,143645.75015,38.960719,-77.018034,NaN,NaN,NaN,2643,NaN,NaN,NaN
15,Underwood Pl,NW,North Capitol St,1st St,1,Pavement Resurface/restoration,2004,100,Completed,0.14,...,144575.76052,38.969098,-77.010335,NaN,Citywidy Pavement Restoration,Paul Stephenson,5879,Rodney,NaN,202-671-4591
16,20th St,NW,Columbia Rd,Wyoming Ave,1,Pavement Resurface/restoration,2004,100,Completed,0.04,...,138911.21635,38.918061,-77.045630,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local ...,Maduabuchi Udeh,3422,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
17,Quintana Pl,NE,3rd St,Eastern Ave,1,Pavement Resurface/restoration,2004,100,Completed,0.12,...,144049.46375,38.964357,-77.001779,NaN,Citywide Pavement Restoration,Paul Stephenson,2621,NaN,NaN,NaN
18,Tuckerman St,NE,Kansas Ave,Eastern Ave,1,Reconstruction,2004,100,Completed,0.12,...,144380.43626,38.967338,-77.005814,NaN,Citywide Pavement Restoration,Paul Stephenson,2513,NaN,NaN,202-671-4594
19,Eads St,NE,45th St,47th St,1,Pavement Resurface/restoration,2005,100,Completed,0.16,...,136373.00889,38.895188,-76.936314,NaN,CITYWIDE PAVEMENT RESTORATION CONTRACT (LOCAL ...,NaN,7151,NaN,NaN,NaN
20,4th St,SE,Newcomb St,Orange St,2,Pavement Resurface/restoration,2005,100,Completed,0.11,...,131031.17766,38.847084,-77.003775,NaN,CITYWIDE PAVEMENT RESTORATION CONTRACT (LOCAL ...,NaN,8740,NaN,NaN,NaN
21,Belt Rd,NW,Jenifer St,Military Rd,1,Reconstruction,2004,100,Completed,0.16,...,143576.29028,38.960067,-77.080944,NaN,NaN,NaN,2612,NaN,NaN,NaN
22,Oneida St,NE,New Hampshire Ave,6th St,2,Regular Cover,1999,100,Completed,0.34,...,143788.68656,38.962008,-77.002159,NaN,Citywide Pavement Restoration,Paul Stephenson,2645,NaN,NaN,NaN
23,Carrollsburg Pl,SW,O St,P St,1,Pavement Resurface/restoration,2004,100,Completed,0.06,...,133852.11487,38.872496,-77.009900,NaN,NaN,FY-05,5063,NaN,NaN,NaN
24,23rd St,NW,Washington Cir (N),M St,2,Pavement Resurface/restoration,2004,100,Completed,0.15,...,137368.33245,38.904161,-77.050114,NaN,NaN,NaN,5215,NaN,NaN,NaN
25,Kanawha St,NW,Utah Ave,30th St,2,Reconstruction,2004,100,Completed,0.21,...,143966.17156,38.963592,-77.058648,NaN,NaN,NaN,2614,NaN,NaN,NaN
26,Piney Branch Rd,NW,Underwood St,Venable Pl,2,Pavement Resurface/restoration,2004,100,Completed,0.16,...,144641.00247,38.969683,-77.025542,NaN,NaN,NaN,5299,NaN,NaN,NaN
27,30th St,NW,Stephenson Pl,Tennyson St,1,Regular Cover,2004,100,Completed,0.15,...,144904.92557,38.972048,-77.059057,NaN,Citywide Pavement Restoration,Paul Stephenson,2461,M. Howard,NaN,202-671-4591
28,32nd St,NW,Woodland Dr,Cleveland Ave,1,Regular Cover,2004,100,Completed,0.06,...,139907.44198,38.927027,-77.063269,NaN,NaN,NaN,2466,NaN,NaN,NaN
29,33rd St,NW,Broad Branch Ter,Linnean Ter,1,Regular Cover,2004,100,Completed,0.14,...,143174.30874,38.956455,-77.065420,NaN,NaN,NaN,2470,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,New Jersey Ave,NW,F St,G St,2,Pavement Resurface/restoration,2004,100,Completed,0.07,...,136662.79676,38.897815,-77.012040,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5668,Said Cherifi,said.cherifi@dc.gov,202-671-4611
436,15th St,NE,Ames Pl,Constitution Ave,1,Pavement Resurface/restoration,2004,100,Completed,0.04,...,135988.53001,38.891741,-76.983645,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5574,Said Cherifi,said.cherifi@dc.gov,202-671-4611
437,East Capitol St,BN,C St,Anacostia Fwy (E),2,Pavement Resurface/restoration,2004,100,Completed,0.52,...,135773.18857,38.889796,-76.963257,FY-04 per Sylvester,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5142,Said Cherifi,said.cherifi@dc.gov,202-671-4611
438,Randolph St,NE,25th Pl,26th St,1,Pavement Resurface/restoration,2004,100,Completed,0.05,...,141101.24934,38.937795,-76.970647,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5485,Said Cherifi,said.cherifi@dc.gov,202-671-4611
439,South Dakota Ave,NE,Delafield St,Riggs Rd,10,Federal Aid Resurfacing,2004,100,Completed,0.68,...,142828.69431,38.953360,-76.997760,Per Berehager construction will begin in FY-04,FedAid_6YR_CIP,Abdullahi Mohamed,4769,MORGAN PRINCE,morgan.prince@dc.gov,202-671-4627
440,Wheeler Rd,SE,Congress St,Congress St,0,Traffic Signal Work,2004,100,Completed,0.00,...,130311.51001,38.840601,-76.993666,NaN,NaN,ELIJAH ROBINSON,6058,NaN,NaN,202.671.2829
441,New Jersey Ave,NW,H St,I St,1,Pavement Resurface/restoration,2004,100,Completed,0.08,...,136989.68608,38.900760,-77.013111,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5670,Said Cherifi,said.cherifi@dc.gov,202-671-4611
442,Mount Olivet Rd,NE,Brentwood Pky,West Virginia Ave,5,Pavement Resurface/restoration,4,100,Completed,0.33,...,138177.81094,38.911463,-76.988473,NaN,Street Resurfacing of Ward 5 & 6,Mohamed Abdullahi,8603,Said Cherifi,said.cherifi@dc.gov,202-671-4611
443,Oak St,NW,16th St,Brown St (S),1,Pavement Resurface/restoration,2005,100,Completed,0.04,...,140800.56074,38.935084,-77.036751,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local ...,Maduabuchi Udeh,5034,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
444,Michigan Ave,NE,14th St,16th St,1,Pavement Resurface/restoration,2004,100,Completed,0.11,...,141629.29443,38.942555,-76.984661,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5480,Said Cherifi,said.cherifi@dc.gov,202-671-4611
445,C St,NE,20th St,22nd St,1,Pavement Resurface/restoration,2004,100,Completed,0.06,...,136161.74371,38.893300,-76.975688,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5675,Said Cherifi,said.cherifi@dc.gov,202-671-4611
446,Virginia Ave,SE,6th St (S),7th St (S),1,Pavement Resurface/restoration,2004,100,Completed,0.16,...,134569.68537,38.878960,-76.997601,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5674,Said Cherifi,said.cherifi@dc.gov,202-671-4611
447,Oak St,NW,Brown St (N),Cul De Sac,1,Pavement Resurface/restoration,2004,100,Completed,0.09,...,140870.01258,38.935710,-77.037453,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local ...,Maduabuchi Udeh,2810,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
448,Florida Ave,NE,New York Ave,O St,1,Pavement Resurface/restoration,2004,100,Completed,0.05,...,137873.16505,38.908719,-77.004188,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5503,Said Cherifi,said.cherifi@dc.gov,202-671-4611
449,North Carolina Ave,NE,East Capitol St (E),13th St,1,Pavement Resurface/restoration,2004,100,Completed,0.04,...,135850.45600,38.890497,-76.988605,NaN,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5671,Said Cherifi,said.cherifi@dc.gov,202-671-4611
450,Elder St,NW,8th St,Georgia Ave,2,Pavement Resurface/restoration,2005,100,Completed,0.11,...,145484.83613,38.977285,-77.025480,NaN,Citywide Pavement Restoration,Paul Stephenson,6858,Rodney Olive,NaN,202-671-4591
451,Benning Rd,SE,G St,G St,0,High Accident Intersection,2004,100,Completed,0.00,...,134852.81001,38.881492,-76.933040,NaN,NaN,NaN,5394,NaN,NaN,NaN
452,School St,SW,4th St,6th St,1,Pavement Resurface/restoration,2004,100,Completed,0.13,...,135121.52451,38.883930,-77.018730,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local ...,Maduabuchi Udeh,4496,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
453,18th St,NW,M St,Connecticut Ave Jefferson,1,Pavement Resurface/restoration,2005,100,Completed,0.06,...,137578.57894,38.906058,-77.041683,POKA-2004-B-0016-JJ,Federal Aid City Wide Pavement Restoration Con...,Maduabuchi Udeh,7624,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
454,Longfellow St,NW,16th St,Cul De Sac,1,Pavement Resurface/restoration,2004,100,Completed,0.10,...,143308.79120,38.957679,-77.037145,NaN,Citywidy Pavement Restoration,Paul Stephenson,3572,Deguzman,NaN,202-671-4591
455,10th St,NW,M St,N St,1,Pavement Resurface/restoration,2005,100,Completed,0.11,...,137620.63091,38.906441,-77.025983,NaN,Federal Aid City Wide Pavement Restoration Con...,Maduabuchi Udeh,7577,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
456,Woodley Rd,NW,Connecticut Ave,29th St Garfield St,3,Street Light Projects,2003,100,Completed,0.27,...,139776.68682,38.925854,-77.055159,NaN,StreetLight Series Circuit Conversion at 5 Loc...,Mike Dorsey,8704,Mike Dorsey,NaN,NaN
457,Woodley Rd,NW,Cathedral Ave (E),Cathedral Ave (E),0,Street Light Projects,2003,100,Completed,0.00,...,139708.16000,38.925239,-77.050146,NaN,StreetLight Series Circuit Conversion at 5 Loc...,Mike Dorsey,8702,NaN,NaN,NaN
458,3rd St,SW,Independence Ave,C St,1,Street Light Projects,2003,100,Completed,0.10,...,135440.84902,38.886807,-77.015201,NaN,StreetLight Series Circuit Conversion at 5 Loc...,Mike Dorsey,8713,Mike Dorsey,NaN,NaN
459,16th St,NW,Primrose Rd,Maryland Line,5,Upgrading,2005,100,Completed,0.27,...,146987.84913,38.990821,-77.036322,NaN,Pavement Resurface Restoration,Paul Stephenson,6372,Porter Curtis,NaN,202-671-4581
460,Woodley Rd,NW,Woodley Pl,Connecticut Ave,1,Street Light Projects,2003,100,Completed,0.07,...,139730.94291,38.925443,-77.052011,NaN,StreetLight Series Circuit Conversion at 5 Loc...,Mike Dorsey,8703,Mike Dorsey,NaN,NaN
461,Western Ave,NW,Chevy Chase Cir (E),Chestnut St,19,Federal Aid Resurfacing,2004,100,Completed,1.19,...,145110.29844,38.973893,-77.068950,NaN,FedAid_6YR_CIP,Paul Stephenson,2732,Lennox Bruce,Lennoxbruce@dc.gov,(202)-671-45
462,49th St,NW,Fulton St,Garfield St,1,Pavement Resurface/restoration,2004,100,Completed,0.12,...,139891.73363,38.926865,-77.093990,2nd Aid to State,Citywide Pavement Restoration,Paul Stphenson,3948,Deguzman,NaN,202-671-4591
463,Quackenbos St,NE,New Hampshire Ave,Eastern Ave,2,Pavement Resurface/restoration,2005,100,Completed,0.24,...,143983.75188,38.963765,-77.001975,NaN,NaN,NaN,2642,NaN,NaN,NaN
464,North Capitol St,BN,Hawaii Ave Rock Creek Chu,Buchanan St,1,Pavement Resurface/restoration,2003,100,Completed,0.02,...,142147.02707,38.947219,-77.008609,NaN,Rehabilitation of N. Capitol St. from Michigan...,Konjit Eskender,8543,Stanley Freeman,Stanley.Freeman@dc.gov,202-234-1458

### 3.1.a  what is its shape and what does that mean?

In [5]:
data.shape

(465, 27)

## Homework 3.2
 What are the number of rows in each 'QUADRANT' ?

In [43]:
data['QUADRANT'].value_counts()

NW    195
NE    163
SE     84
BN     12
SW     11
Name: QUADRANT, dtype: int64

## Homework 3.3 - Array math demonstration 
For two arrarys  

a= [1,2,3,4]  type=float

b= [5,6,7,8]  type=float

Peform the following array operations using numpy   
( show both operational use of numpy and functional (example addition operation => + vs addition function => numbpy.add() )

# FUNCTIONAL USE

### 3.3.1 addition a+b

In [7]:
import numpy as np
a= np.array ([1,2,3,4],dtype=float)
b= np.array ([5,6,7,8],dtype=float)
np.add(a,b)

array([  6.,   8.,  10.,  12.])

### 3.3.2 subtraction a-b

In [8]:
np.subtract(a,b)

array([-4., -4., -4., -4.])

### 3.3.3 multiplication a*b

In [9]:
np.multiply(a,b)

array([  5.,  12.,  21.,  32.])

### 3.3.4 divsion a/b

In [10]:
np.divide(a,b)

array([ 0.2       ,  0.33333333,  0.42857143,  0.5       ])

### 3.3.5 modulo  a%b

In [11]:
np.mod(a,b)

array([ 1.,  2.,  3.,  4.])

### 3.3.6 power  a^b

In [12]:
np.power(a,b)

array([  1.00000000e+00,   6.40000000e+01,   2.18700000e+03,
         6.55360000e+04])

# OPERATIONAL USE

In [13]:
a+b#3.3.1 addition a+b

array([  6.,   8.,  10.,  12.])

In [14]:
a-b#3.3.2 subtraction a-b

array([-4., -4., -4., -4.])

In [15]:
a*b#3.3.3 multiplication a*b

array([  5.,  12.,  21.,  32.])

In [16]:
a/b# 3.3.4 divsion a/b

array([ 0.2       ,  0.33333333,  0.42857143,  0.5       ])

In [17]:
a%b#3.3.5 modulo a%b

array([ 1.,  2.,  3.,  4.])

In [18]:
a**b#3.3.6 power a^b

array([  1.00000000e+00,   6.40000000e+01,   2.18700000e+03,
         6.55360000e+04])

## Homework 3.4
Find your own data and load it into a dataframe

In [19]:
dataframe=pd.read_csv("H:\Datasets\cwurData.csv")
dataframe

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
5,6,Princeton University,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
6,7,University of Oxford,United Kingdom,2,13,28,9,15,13,19,NaN,26,82.34,2012
7,8,Yale University,USA,6,14,31,12,14,6,15,NaN,66,79.14,2012
8,9,Columbia University,USA,7,23,21,10,13,12,14,NaN,5,78.86,2012
9,10,"University of California, Berkeley",USA,8,16,52,6,6,5,3,NaN,16,78.55,2012
10,11,University of Chicago,USA,9,15,26,8,34,20,28,NaN,101,73.82,2012
11,12,Cornell University,USA,10,21,42,14,22,21,16,NaN,10,73.69,2012
12,13,University of Pennsylvania,USA,11,31,16,24,9,10,8,NaN,9,73.64,2012
13,14,University of Tokyo,Japan,1,32,19,31,8,19,23,NaN,3,69.49,2012
14,15,Johns Hopkins University,USA,12,34,77,20,11,9,9,NaN,7,66.94,2012
15,16,Swiss Federal Institute of Technology in Zurich,Switzerland,1,26,66,11,40,51,44,NaN,34,66.69,2012
16,17,Kyoto University,Japan,2,42,38,19,25,36,43,NaN,23,65.76,2012
17,18,Weizmann Institute of Science,Israel,1,4,101,22,101,67,101,NaN,29,65.09,2012
18,19,"University of California, Los Angeles",USA,13,62,59,23,3,11,6,NaN,13,64.05,2012
19,20,"University of California, San Diego",USA,14,61,101,15,10,8,10,NaN,22,63.11,2012
20,21,Rockefeller University,USA,15,1,101,16,101,28,96,NaN,101,61.74,2012
21,22,Hebrew University of Jerusalem,Israel,2,24,93,13,101,91,101,NaN,28,60.76,2012
22,23,New York University,USA,16,89,75,17,42,24,34,NaN,62,60.55,2012
23,24,"University of California, San Francisco",USA,17,101,101,21,19,3,13,NaN,33,59.70,2012
24,25,University of WisconsinMadison,USA,18,64,63,33,17,30,21,NaN,21,59.66,2012
25,26,University of Illinois at UrbanaChampaign,USA,19,82,101,18,35,71,39,NaN,44,59.00,2012
26,27,Duke University,USA,20,65,43,55,20,15,12,NaN,20,58.37,2012
27,28,Imperial College London,United Kingdom,3,84,73,35,26,26,29,NaN,41,57.53,2012
28,29,University of Texas Southwestern Medical Center,USA,21,19,101,32,101,43,84,NaN,101,56.43,2012
29,30,University of Texas at Austin,USA,22,101,78,27,41,47,40,NaN,57,56.18,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2170,971,Fu Jen Catholic University,Taiwan,19,367,446,218,984,887,812,958.0,824,44.06,2015
2171,972,Hunan Normal University,China,74,367,567,218,923,917,812,932.0,871,44.06,2015
2172,973,Ulsan National Institute of Science and Techno...,South Korea,36,367,567,218,880,912,645,984.0,349,44.06,2015
2173,974,Federal University of Santa Maria,Brazil,16,367,396,218,954,974,812,975.0,871,44.05,2015
2174,975,Shenzhen University,China,75,367,410,218,976,778,645,999.0,318,44.05,2015
2175,976,Tianjin Medical University,China,76,367,567,218,885,857,812,946.0,839,44.05,2015
2176,977,Beijing University of Technology,China,77,367,567,218,780,950,812,969.0,512,44.05,2015
2177,978,University of Reims Champagne-Ardenne,France,48,367,567,218,967,884,645,958.0,544,44.05,2015
2178,979,Yuan Ze University,Taiwan,20,367,567,218,923,984,812,946.0,871,44.05,2015
2179,980,"University of Chemistry and Technology, Prague",Czech Republic,5,367,567,218,991,868,812,946.0,778,44.05,2015
2180,981,University of Limerick,Ireland,8,367,529,218,892,863,812,969.0,516,44.05,2015
2181,982,China Medical University (PRC),China,78,367,567,218,804,749,645,958.0,871,44.04,2015
2182,983,Feng Chia University,Taiwan,21,367,434,218,902,991,812,975.0,871,44.04,2015
2183,984,Zhejiang University of Technology,China,79,367,567,218,858,991,812,958.0,672,44.04,2015
2184,985,Novosibirsk State University,Russia,5,167,567,218,819,858,645,991.0,871,44.04,2015
2185,986,University of Bucharest,Romania,1,237,567,218,845,804,645,975.0,871,44.04,2015
2186,987,Babe-Bolyai University,Romania,2,367,567,218,874,855,812,958.0,871,44.04,2015
2187,988,Mansoura University,Egypt,3,367,567,218,987,969,645,958.0,871,44.04,2015
2188,989,University of Pau and Pays de l'Adour,France,49,367,567,218,980,991,812,958.0,809,44.04,2015
2189,990,Henan Normal University,China,80,367,567,218,959,991,812,958.0,871,44.04,2015
2190,991,Xidian University,China,81,367,542,218,830,974,812,984.0,434,44.03,2015
2191,992,Federal University of Bahia,Brazil,17,367,540,218,962,865,645,969.0,774,44.03,2015
2192,993,Southwest Jiaotong University,China,82,367,327,218,937,962,812,998.0,861,44.03,2015
2193,994,Ryerson University,Canada,33,367,567,218,811,969,511,975.0,756,44.03,2015
2194,995,King Abdulaziz University,Saudi Arabia,4,367,449,218,595,430,645,994.0,839,44.03,2015
2195,996,University of the Algarve,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
2196,997,Alexandria University,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
2197,998,Federal University of Cear,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
2198,999,University of A Corua,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
2199,1000,China Pharmaceutical University,China,83,367,567,218,861,991,812,981.0,547,44.02,2015




## Homework 3.5
Provide an interesting analysis of the data columns ( frequency or averages )

In [20]:
dataframe.set_index("institution", inplace=True)#setting Index
dataframe.head()

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,,,,
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
Massachusetts Institute of Technology,2,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
Stanford University,3,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
University of Cambridge,4,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
California Institute of Technology,5,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [21]:
print dataframe['country']#selecting desired coloumn

institution
Harvard University                                               USA
Massachusetts Institute of Technology                            USA
Stanford University                                              USA
University of Cambridge                               United Kingdom
California Institute of Technology                               USA
Princeton University                                             USA
University of Oxford                                  United Kingdom
Yale University                                                  USA
Columbia University                                              USA
University of California, Berkeley                               USA
University of Chicago                                            USA
Cornell University                                               USA
University of Pennsylvania                                       USA
University of Tokyo                                            Japan
Johns Hopkins University                                         USA
Swiss Federal Institute of Technology in Zurich          Switzerland
Kyoto University                                               Japan
Weizmann Institute of Science                                 Israel
University of California, Los Angeles                            USA
University of California, San Diego                              USA
Rockefeller University                                           USA
Hebrew University of Jerusalem                                Israel
New York University                                              USA
University of California, San Francisco                          USA
University of WisconsinMadison                                  USA
University of Illinois at UrbanaChampaign                       USA
Duke University                                                  USA
Imperial College London                               United Kingdom
University of Texas Southwestern Medical Center                  USA
University of Texas at Austin                                    USA
                                                           ...
Fu Jen Catholic University                                    Taiwan
Hunan Normal University                                        China
Ulsan National Institute of Science and Technology       South Korea
Federal University of Santa Maria                             Brazil
Shenzhen University                                            China
Tianjin Medical University                                     China
Beijing University of Technology                               China
University of Reims Champagne-Ardenne                         France
Yuan Ze University                                            Taiwan
University of Chemistry and Technology, Prague        Czech Republic
University of Limerick                                       Ireland
China Medical University (PRC)                                 China
Feng Chia University                                          Taiwan
Zhejiang University of Technology                              China
Novosibirsk State University                                  Russia
University of Bucharest                                      Romania
Babe-Bolyai University                                      Romania
Mansoura University                                            Egypt
University of Pau and Pays de l'Adour                         France
Henan Normal University                                        China
Xidian University                                              China
Federal University of Bahia                                   Brazil
Southwest Jiaotong University                                  China
Ryerson University                                            Canada
King Abdulaziz University                               Saudi Arabia
University of the Algarve                                   Portugal
Alexandria University                                          Egypt
Federal University of Cear                                   Brazil
University of A Corua                                         Spain
China Pharmaceutical University                                China
Name: country, Length: 2200, dtype: object

In [22]:
dataframe[dataframe['country']== "USA"]#displaying USA universities(sub setting data)

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,,,,
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
Massachusetts Institute of Technology,2,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
Stanford University,3,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
California Institute of Technology,5,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
Princeton University,6,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
Yale University,8,USA,6,14,31,12,14,6,15,NaN,66,79.14,2012
Columbia University,9,USA,7,23,21,10,13,12,14,NaN,5,78.86,2012
"University of California, Berkeley",10,USA,8,16,52,6,6,5,3,NaN,16,78.55,2012
University of Chicago,11,USA,9,15,26,8,34,20,28,NaN,101,73.82,2012
Cornell University,12,USA,10,21,42,14,22,21,16,NaN,10,73.69,2012
University of Pennsylvania,13,USA,11,31,16,24,9,10,8,NaN,9,73.64,2012
Johns Hopkins University,15,USA,12,34,77,20,11,9,9,NaN,7,66.94,2012
"University of California, Los Angeles",19,USA,13,62,59,23,3,11,6,NaN,13,64.05,2012
"University of California, San Diego",20,USA,14,61,101,15,10,8,10,NaN,22,63.11,2012
Rockefeller University,21,USA,15,1,101,16,101,28,96,NaN,101,61.74,2012
New York University,23,USA,16,89,75,17,42,24,34,NaN,62,60.55,2012
"University of California, San Francisco",24,USA,17,101,101,21,19,3,13,NaN,33,59.70,2012
University of WisconsinMadison,25,USA,18,64,63,33,17,30,21,NaN,21,59.66,2012
University of Illinois at UrbanaChampaign,26,USA,19,82,101,18,35,71,39,NaN,44,59.00,2012
Duke University,27,USA,20,65,43,55,20,15,12,NaN,20,58.37,2012
University of Texas Southwestern Medical Center,29,USA,21,19,101,32,101,43,84,NaN,101,56.43,2012
University of Texas at Austin,30,USA,22,101,78,27,41,47,40,NaN,57,56.18,2012
Northwestern University,33,USA,23,101,32,101,24,25,20,NaN,35,54.40,2012
"University of Michigan, Ann Arbor",34,USA,24,68,60,101,2,17,7,NaN,8,53.72,2012
University of North Carolina at Chapel Hill,36,USA,25,101,86,56,31,29,31,NaN,29,53.09,2012
Washington University in St. Louis,37,USA,26,74,62,101,32,18,30,NaN,14,52.90,2012
University of Utah,38,USA,27,92,101,41,74,52,67,NaN,12,52.64,2012
University of Washington - Seattle,39,USA,28,101,101,40,5,7,5,NaN,101,52.25,2012
"University of California, Santa Barbara",40,USA,29,101,101,28,68,72,36,NaN,101,52.15,2012
"Purdue University, West Lafayette",42,USA,30,95,70,49,61,101,58,NaN,19,51.66,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Howard University,719,USA,200,294,567,218,934,665,511,699.0,296,44.33,2015
"Rutgers, The State University of New Jersey - Newark",723,USA,201,367,567,218,832,515,645,637.0,871,44.33,2015
University of Memphis,746,USA,202,367,382,218,782,640,511,741.0,394,44.30,2015
University of MissouriSt. Louis,748,USA,203,367,371,218,897,524,428,715.0,634,44.30,2015
University of Alabama in Huntsville,752,USA,204,367,567,218,921,432,645,659.0,805,44.30,2015
University of Mississippi Medical Center,754,USA,205,367,567,218,775,504,511,671.0,871,44.29,2015
New Jersey Institute of Technology,761,USA,206,259,472,218,791,670,812,741.0,391,44.28,2015
East Carolina University,762,USA,207,367,394,218,699,685,812,732.0,639,44.28,2015
Northern Arizona University,766,USA,208,367,537,218,939,489,645,686.0,609,44.28,2015
"University of North Texas, Denton",778,USA,209,367,567,218,675,636,645,715.0,554,44.27,2015
Michigan Technological University,790,USA,210,341,467,218,794,769,428,741.0,581,44.25,2015
North Dakota State University - Main Campus,792,USA,211,172,567,218,702,790,812,770.0,871,44.25,2015
University of North Carolina at Charlotte,794,USA,212,367,310,218,741,662,511,826.0,593,44.25,2015
Bowling Green State University,809,USA,213,367,373,218,910,705,645,781.0,824,44.23,2015
Florida Institute of Technology,823,USA,214,367,567,218,973,793,368,770.0,871,44.21,2015
University of Massachusetts Boston,825,USA,215,367,429,218,846,698,428,796.0,824,44.21,2015
The Catholic University of America,832,USA,216,367,407,218,947,596,511,809.0,674,44.20,2015
Wright State University - Dayton,833,USA,217,367,567,218,810,805,812,770.0,824,44.20,2015
Clarkson University,835,USA,218,367,390,218,981,974,812,809.0,685,44.19,2015
University of South Alabama,844,USA,219,367,567,218,979,784,812,796.0,464,44.19,2015
Hunter College,850,USA,220,261,438,218,822,610,812,826.0,805,44.18,2015
Florida Atlantic University,856,USA,221,367,567,218,855,741,812,796.0,714,44.17,2015
University of Massachusetts Lowell,884,USA,222,367,528,218,936,943,321,946.0,304,44.15,2015
"Queens College, City University of New York",893,USA,223,323,374,218,977,690,812,886.0,729,44.14,2015
University of North Carolina at Greensboro,897,USA,224,367,567,218,899,825,645,850.0,575,44.13,2015
University of Southern Mississippi,901,USA,225,367,567,218,913,853,812,850.0,676,44.13,2015
Oakland University,906,USA,226,367,567,218,888,810,812,850.0,871,44.13,2015
University of North Dakota,913,USA,227,367,567,218,917,731,812,867.0,606,44.12,2015
University of Texas at El Paso,929,USA,228,367,442,218,910,838,812,906.0,706,44.10,2015
"University of California, Merced",936,USA,229,367,567,218,899,540,812,906.0,491,44.09,2015

In [23]:
dataframe[dataframe['national_rank']==1]#displaying top national universities(Subsetting Data)

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,,,,
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
University of Cambridge,4,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
University of Tokyo,14,Japan,1,32,19,31,8,19,23,NaN,3,69.49,2012
Swiss Federal Institute of Technology in Zurich,16,Switzerland,1,26,66,11,40,51,44,NaN,34,66.69,2012
Weizmann Institute of Science,18,Israel,1,4,101,22,101,67,101,NaN,29,65.09,2012
University of Toronto,35,Canada,1,101,101,34,7,14,18,NaN,101,53.43,2012
University of Paris-Sud,48,France,1,48,101,25,73,96,101,NaN,101,50.44,2012
University of Edinburgh,60,United Kingdom,1,71,101,43,64,41,70,NaN,101,48.43,2012
Karolinska Institute,70,Sweden,1,51,101,42,84,49,95,NaN,101,47.61,2012
Seoul National University,75,South Korea,1,101,34,101,44,101,69,NaN,4,46.74,2012
Sapienza University of Rome,77,Italy,1,101,101,30,70,101,101,NaN,101,46.34,2012
Ruprecht Karl University of Heidelberg,82,Germany,1,87,101,52,86,58,100,NaN,101,45.33,2012
Leiden University,85,Netherlands,1,88,101,76,81,65,101,NaN,101,45.13,2012
University of Helsinki,89,Finland,1,96,101,79,62,64,54,NaN,101,44.44,2012
University of Oslo,91,Norway,1,101,101,39,101,101,101,NaN,101,44.26,2012
University of Queensland,92,Australia,1,101,101,101,67,90,89,NaN,46,44.18,2012
University of Copenhagen,93,Denmark,1,101,101,60,85,66,101,NaN,101,44.15,2012
Harvard University,1,USA,1,1,1,1,1,1,1,NaN,7,100.00,2013
University of Oxford,3,United Kingdom,1,7,12,10,11,7,13,NaN,15,92.54,2013
University of Tokyo,14,Japan,1,17,3,32,14,23,29,NaN,5,76.23,2013
Swiss Federal Institute of Technology in Zurich,18,Switzerland,1,16,60,11,40,53,55,NaN,60,64.99,2013
Hebrew University of Jerusalem,21,Israel,1,15,101,15,101,96,101,NaN,24,59.98,2013
University of Toronto,29,Canada,1,91,81,34,2,13,12,NaN,101,56.11,2013
University of Paris-Sud,36,France,1,26,101,26,73,101,101,NaN,101,51.72,2013
Seoul National University,40,South Korea,1,101,13,101,48,101,76,NaN,4,51.31,2013
Karolinska Institute,60,Sweden,1,101,101,47,64,38,62,NaN,101,47.98,2013
Sapienza University of Rome,62,Italy,1,101,101,31,76,101,101,NaN,101,47.75,2013
Ludwig Maximilian University of Munich,67,Germany,1,62,101,92,67,49,67,NaN,101,47.25,2013
University of Copenhagen,68,Denmark,1,101,101,63,42,43,51,NaN,101,47.12,2013
University of Oslo,81,Norway,1,101,101,40,101,101,101,NaN,101,46.10,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
University of Auckland,266,New Zealand,1,235,419,218,253,260,234,256.0,125,46.38,2015
Charles University in Prague,270,Czech Republic,1,238,560,116,228,238,182,227.0,636,46.32,2015
National and Kapodistrian University of Athens,301,Greece,1,367,200,218,245,416,428,273.0,871,45.94,2015
Chulalongkorn University,311,Thailand,1,367,57,218,584,734,511,558.0,871,45.86,2015
National Autonomous University of Mexico,334,Mexico,1,282,546,218,199,219,368,330.0,486,45.58,2015
Indian Institute of Technology Delhi,341,India,1,367,59,218,635,943,812,781.0,625,45.54,2015
University of Buenos Aires,367,Argentina,1,126,500,180,276,350,321,344.0,871,45.37,2015
Pontifical Catholic University of Chile,376,Chile,1,343,139,218,446,310,645,388.0,396,45.31,2015
Jagiellonian University,451,Poland,1,367,567,218,403,465,645,375.0,355,44.94,2015
Etvs Lornd University,458,Hungary,1,89,567,116,559,444,287,495.0,724,44.92,2015
University of Iceland,461,Iceland,1,367,567,218,612,295,321,369.0,839,44.91,2015
Middle East Technical University,470,Turkey,1,367,120,218,550,879,511,659.0,871,44.87,2015
"University of Science, Malaysia",482,Malaysia,1,367,567,218,669,888,428,809.0,94,44.84,2015
University of Ljubljana,504,Slovenia,1,367,567,218,341,415,321,457.0,507,44.77,2015
University of Tartu,537,Estonia,1,365,567,218,586,318,368,457.0,426,44.68,2015
University of Zagreb,551,Croatia,1,367,567,218,553,541,428,471.0,650,44.62,2015
King Saud University,569,Saudi Arabia,1,367,182,218,560,539,645,837.0,232,44.59,2015
University of Los Andes (Colombia),652,Colombia,1,367,189,218,898,561,428,837.0,749,44.43,2015
American University of Beirut,682,Lebanon,1,114,247,218,915,892,812,880.0,871,44.38,2015
Comenius University in Bratislava,685,Slovak Republic,1,367,567,218,707,624,645,590.0,871,44.38,2015
Sharif University of Technology,697,Iran,1,116,567,218,563,950,511,732.0,871,44.37,2015
University of Belgrade,726,Serbia,1,276,567,218,422,694,511,715.0,824,44.33,2015
Vilnius University,791,Lithuania,1,340,567,218,799,642,645,715.0,684,44.25,2015
Cairo University,796,Egypt,1,285,469,180,697,730,511,781.0,871,44.25,2015
Sofia University,845,Bulgaria,1,254,567,218,814,881,645,796.0,871,44.19,2015
Makerere University,869,Uganda,1,367,567,218,882,656,645,809.0,871,44.16,2015
University of Cyprus,928,Cyprus,1,367,567,218,820,896,645,886.0,816,44.10,2015
United Arab Emirates University,950,United Arab Emirates,1,367,521,218,994,851,812,906.0,689,44.08,2015
University of Puerto Rico at Mayagez,962,Puerto Rico,1,367,567,218,998,793,645,921.0,871,44.06,2015
University of Bucharest,986,Romania,1,237,567,218,845,804,645,975.0,871,44.04,2015

In [24]:
dataframe.iloc[0:20, 1:6]# iloc[row slicing, column slicing]

,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty
institution,,,,,
Harvard University,USA,1,7,9,1
Massachusetts Institute of Technology,USA,2,9,17,3
Stanford University,USA,3,17,11,5
University of Cambridge,United Kingdom,1,10,24,4
California Institute of Technology,USA,4,2,29,7
Princeton University,USA,5,8,14,2
University of Oxford,United Kingdom,2,13,28,9
Yale University,USA,6,14,31,12
Columbia University,USA,7,23,21,10
"University of California, Berkeley",USA,8,16,52,6
University of Chicago,USA,9,15,26,8
Cornell University,USA,10,21,42,14
University of Pennsylvania,USA,11,31,16,24
University of Tokyo,Japan,1,32,19,31
Johns Hopkins University,USA,12,34,77,20
Swiss Federal Institute of Technology in Zurich,Switzerland,1,26,66,11
Kyoto University,Japan,2,42,38,19
Weizmann Institute of Science,Israel,1,4,101,22
"University of California, Los Angeles",USA,13,62,59,23
"University of California, San Diego",USA,14,61,101,15

In [25]:
dataframe.iloc[3, 1]# Syntax for iloc indexing to finding a specific data element

'United Kingdom'

In [26]:
pd.isnull(dataframe)#identify all locations in the dataframe that have null (missing or NaN) data values.

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,,,,
Harvard University,False,False,False,False,False,False,False,False,False,True,False,False,False
Massachusetts Institute of Technology,False,False,False,False,False,False,False,False,False,True,False,False,False
Stanford University,False,False,False,False,False,False,False,False,False,True,False,False,False
University of Cambridge,False,False,False,False,False,False,False,False,False,True,False,False,False
California Institute of Technology,False,False,False,False,False,False,False,False,False,True,False,False,False
Princeton University,False,False,False,False,False,False,False,False,False,True,False,False,False
University of Oxford,False,False,False,False,False,False,False,False,False,True,False,False,False
Yale University,False,False,False,False,False,False,False,False,False,True,False,False,False
Columbia University,False,False,False,False,False,False,False,False,False,True,False,False,False
"University of California, Berkeley",False,False,False,False,False,False,False,False,False,True,False,False,False
University of Chicago,False,False,False,False,False,False,False,False,False,True,False,False,False
Cornell University,False,False,False,False,False,False,False,False,False,True,False,False,False
University of Pennsylvania,False,False,False,False,False,False,False,False,False,True,False,False,False
University of Tokyo,False,False,False,False,False,False,False,False,False,True,False,False,False
Johns Hopkins University,False,False,False,False,False,False,False,False,False,True,False,False,False
Swiss Federal Institute of Technology in Zurich,False,False,False,False,False,False,False,False,False,True,False,False,False
Kyoto University,False,False,False,False,False,False,False,False,False,True,False,False,False
Weizmann Institute of Science,False,False,False,False,False,False,False,False,False,True,False,False,False
"University of California, Los Angeles",False,False,False,False,False,False,False,False,False,True,False,False,False
"University of California, San Diego",False,False,False,False,False,False,False,False,False,True,False,False,False
Rockefeller University,False,False,False,False,False,False,False,False,False,True,False,False,False
Hebrew University of Jerusalem,False,False,False,False,False,False,False,False,False,True,False,False,False
New York University,False,False,False,False,False,False,False,False,False,True,False,False,False
"University of California, San Francisco",False,False,False,False,False,False,False,False,False,True,False,False,False
University of WisconsinMadison,False,False,False,False,False,False,False,False,False,True,False,False,False
University of Illinois at UrbanaChampaign,False,False,False,False,False,False,False,False,False,True,False,False,False
Duke University,False,False,False,False,False,False,False,False,False,True,False,False,False
Imperial College London,False,False,False,False,False,False,False,False,False,True,False,False,False
University of Texas Southwestern Medical Center,False,False,False,False,False,False,False,False,False,True,False,False,False
University of Texas at Austin,False,False,False,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fu Jen Catholic University,False,False,False,False,False,False,False,False,False,False,False,False,False
Hunan Normal University,False,False,False,False,False,False,False,False,False,False,False,False,False
Ulsan National Institute of Science and Technology,False,False,False,False,False,False,False,False,False,False,False,False,False
Federal University of Santa Maria,False,False,False,False,False,False,False,False,False,False,False,False,False
Shenzhen University,False,False,False,False,False,False,False,False,False,False,False,False,False
Tianjin Medical University,False,False,False,False,False,False,False,False,False,False,False,False,False
Beijing University of Technology,False,False,False,False,False,False,False,False,False,False,False,False,False
University of Reims Champagne-Ardenne,False,False,False,False,False,False,False,False,False,False,False,False,False
Yuan Ze University,False,False,False,False,False,False,False,False,False,False,False,False,False
"University of Chemistry and Technology, Prague",False,False,False,False,False,False,False,False,False,False,False,False,False
University of Limerick,False,False,False,False,False,False,False,False,False,False,False,False,False
China Medical University (PRC),False,False,False,False,False,False,False,False,False,False,False,False,False
Feng Chia University,False,False,False,False,False,False,False,False,False,False,False,False,False
Zhejiang University of Technology,False,False,False,False,False,False,False,False,False,False,False,False,False
Novosibirsk State University,False,False,False,False,False,False,False,False,False,False,False,False,False
University of Bucharest,False,False,False,False,False,False,False,False,False,False,False,False,False
Babe-Bolyai University,False,False,False,False,False,False,False,False,False,False,False,False,False
Mansoura University,False,False,False,False,False,False,False,False,False,False,False,False,False
University of Pau and Pays de l'Adour,False,False,False,False,False,False,False,False,False,False,False,False,False
Henan Normal University,False,False,False,False,False,False,False,False,False,False,False,False,False
Xidian University,False,False,False,False,False,False,False,False,False,False,False,False,False
Federal University of Bahia,False,False,False,False,False,False,False,False,False,False,False,False,False
Southwest Jiaotong University,False,False,False,False,False,False,False,False,False,False,False,False,False
Ryerson University,False,False,False,False,False,False,False,False,False,False,False,False,False
King Abdulaziz University,False,False,False,False,False,False,False,False,False,False,False,False,False
University of the Algarve,False,False,False,False,False,False,False,False,False,False,False,False,False
Alexandria University,False,False,False,False,False,False,False,False,False,False,False,False,False
Federal University of Cear,False,False,False,False,False,False,False,False,False,False,False,False,False
University of A Corua,False,False,False,False,False,False,False,False,False,False,False,False,False
China Pharmaceutical University,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
datacopy = dataframe.copy()#creation of copy
datacopy

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,,,,
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
Massachusetts Institute of Technology,2,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
Stanford University,3,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
University of Cambridge,4,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
California Institute of Technology,5,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
Princeton University,6,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
University of Oxford,7,United Kingdom,2,13,28,9,15,13,19,NaN,26,82.34,2012
Yale University,8,USA,6,14,31,12,14,6,15,NaN,66,79.14,2012
Columbia University,9,USA,7,23,21,10,13,12,14,NaN,5,78.86,2012
"University of California, Berkeley",10,USA,8,16,52,6,6,5,3,NaN,16,78.55,2012
University of Chicago,11,USA,9,15,26,8,34,20,28,NaN,101,73.82,2012
Cornell University,12,USA,10,21,42,14,22,21,16,NaN,10,73.69,2012
University of Pennsylvania,13,USA,11,31,16,24,9,10,8,NaN,9,73.64,2012
University of Tokyo,14,Japan,1,32,19,31,8,19,23,NaN,3,69.49,2012
Johns Hopkins University,15,USA,12,34,77,20,11,9,9,NaN,7,66.94,2012
Swiss Federal Institute of Technology in Zurich,16,Switzerland,1,26,66,11,40,51,44,NaN,34,66.69,2012
Kyoto University,17,Japan,2,42,38,19,25,36,43,NaN,23,65.76,2012
Weizmann Institute of Science,18,Israel,1,4,101,22,101,67,101,NaN,29,65.09,2012
"University of California, Los Angeles",19,USA,13,62,59,23,3,11,6,NaN,13,64.05,2012
"University of California, San Diego",20,USA,14,61,101,15,10,8,10,NaN,22,63.11,2012
Rockefeller University,21,USA,15,1,101,16,101,28,96,NaN,101,61.74,2012
Hebrew University of Jerusalem,22,Israel,2,24,93,13,101,91,101,NaN,28,60.76,2012
New York University,23,USA,16,89,75,17,42,24,34,NaN,62,60.55,2012
"University of California, San Francisco",24,USA,17,101,101,21,19,3,13,NaN,33,59.70,2012
University of WisconsinMadison,25,USA,18,64,63,33,17,30,21,NaN,21,59.66,2012
University of Illinois at UrbanaChampaign,26,USA,19,82,101,18,35,71,39,NaN,44,59.00,2012
Duke University,27,USA,20,65,43,55,20,15,12,NaN,20,58.37,2012
Imperial College London,28,United Kingdom,3,84,73,35,26,26,29,NaN,41,57.53,2012
University of Texas Southwestern Medical Center,29,USA,21,19,101,32,101,43,84,NaN,101,56.43,2012
University of Texas at Austin,30,USA,22,101,78,27,41,47,40,NaN,57,56.18,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fu Jen Catholic University,971,Taiwan,19,367,446,218,984,887,812,958.0,824,44.06,2015
Hunan Normal University,972,China,74,367,567,218,923,917,812,932.0,871,44.06,2015
Ulsan National Institute of Science and Technology,973,South Korea,36,367,567,218,880,912,645,984.0,349,44.06,2015
Federal University of Santa Maria,974,Brazil,16,367,396,218,954,974,812,975.0,871,44.05,2015
Shenzhen University,975,China,75,367,410,218,976,778,645,999.0,318,44.05,2015
Tianjin Medical University,976,China,76,367,567,218,885,857,812,946.0,839,44.05,2015
Beijing University of Technology,977,China,77,367,567,218,780,950,812,969.0,512,44.05,2015
University of Reims Champagne-Ardenne,978,France,48,367,567,218,967,884,645,958.0,544,44.05,2015
Yuan Ze University,979,Taiwan,20,367,567,218,923,984,812,946.0,871,44.05,2015
"University of Chemistry and Technology, Prague",980,Czech Republic,5,367,567,218,991,868,812,946.0,778,44.05,2015
University of Limerick,981,Ireland,8,367,529,218,892,863,812,969.0,516,44.05,2015
China Medical University (PRC),982,China,78,367,567,218,804,749,645,958.0,871,44.04,2015
Feng Chia University,983,Taiwan,21,367,434,218,902,991,812,975.0,871,44.04,2015
Zhejiang University of Technology,984,China,79,367,567,218,858,991,812,958.0,672,44.04,2015
Novosibirsk State University,985,Russia,5,167,567,218,819,858,645,991.0,871,44.04,2015
University of Bucharest,986,Romania,1,237,567,218,845,804,645,975.0,871,44.04,2015
Babe-Bolyai University,987,Romania,2,367,567,218,874,855,812,958.0,871,44.04,2015
Mansoura University,988,Egypt,3,367,567,218,987,969,645,958.0,871,44.04,2015
University of Pau and Pays de l'Adour,989,France,49,367,567,218,980,991,812,958.0,809,44.04,2015
Henan Normal University,990,China,80,367,567,218,959,991,812,958.0,871,44.04,2015
Xidian University,991,China,81,367,542,218,830,974,812,984.0,434,44.03,2015
Federal University of Bahia,992,Brazil,17,367,540,218,962,865,645,969.0,774,44.03,2015
Southwest Jiaotong University,993,China,82,367,327,218,937,962,812,998.0,861,44.03,2015
Ryerson University,994,Canada,33,367,567,218,811,969,511,975.0,756,44.03,2015
King Abdulaziz University,995,Saudi Arabia,4,367,449,218,595,430,645,994.0,839,44.03,2015
University of the Algarve,996,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
Alexandria University,997,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
Federal University of Cear,998,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
University of A Corua,999,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
China Pharmaceutical University,1000,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [28]:
dataframe.drop(dataframe.index[[1,4]])#droping selected rows

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,,,,
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
Stanford University,3,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
University of Cambridge,4,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
Princeton University,6,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
University of Oxford,7,United Kingdom,2,13,28,9,15,13,19,NaN,26,82.34,2012
Yale University,8,USA,6,14,31,12,14,6,15,NaN,66,79.14,2012
Columbia University,9,USA,7,23,21,10,13,12,14,NaN,5,78.86,2012
"University of California, Berkeley",10,USA,8,16,52,6,6,5,3,NaN,16,78.55,2012
University of Chicago,11,USA,9,15,26,8,34,20,28,NaN,101,73.82,2012
Cornell University,12,USA,10,21,42,14,22,21,16,NaN,10,73.69,2012
University of Pennsylvania,13,USA,11,31,16,24,9,10,8,NaN,9,73.64,2012
University of Tokyo,14,Japan,1,32,19,31,8,19,23,NaN,3,69.49,2012
Johns Hopkins University,15,USA,12,34,77,20,11,9,9,NaN,7,66.94,2012
Swiss Federal Institute of Technology in Zurich,16,Switzerland,1,26,66,11,40,51,44,NaN,34,66.69,2012
Kyoto University,17,Japan,2,42,38,19,25,36,43,NaN,23,65.76,2012
Weizmann Institute of Science,18,Israel,1,4,101,22,101,67,101,NaN,29,65.09,2012
"University of California, Los Angeles",19,USA,13,62,59,23,3,11,6,NaN,13,64.05,2012
"University of California, San Diego",20,USA,14,61,101,15,10,8,10,NaN,22,63.11,2012
Rockefeller University,21,USA,15,1,101,16,101,28,96,NaN,101,61.74,2012
Hebrew University of Jerusalem,22,Israel,2,24,93,13,101,91,101,NaN,28,60.76,2012
New York University,23,USA,16,89,75,17,42,24,34,NaN,62,60.55,2012
"University of California, San Francisco",24,USA,17,101,101,21,19,3,13,NaN,33,59.70,2012
University of WisconsinMadison,25,USA,18,64,63,33,17,30,21,NaN,21,59.66,2012
University of Illinois at UrbanaChampaign,26,USA,19,82,101,18,35,71,39,NaN,44,59.00,2012
Duke University,27,USA,20,65,43,55,20,15,12,NaN,20,58.37,2012
Imperial College London,28,United Kingdom,3,84,73,35,26,26,29,NaN,41,57.53,2012
University of Texas Southwestern Medical Center,29,USA,21,19,101,32,101,43,84,NaN,101,56.43,2012
University of Texas at Austin,30,USA,22,101,78,27,41,47,40,NaN,57,56.18,2012
University College London,31,United Kingdom,4,35,101,45,27,23,33,NaN,86,55.21,2012
Osaka University,32,Japan,3,77,101,44,39,44,51,NaN,11,54.43,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fu Jen Catholic University,971,Taiwan,19,367,446,218,984,887,812,958.0,824,44.06,2015
Hunan Normal University,972,China,74,367,567,218,923,917,812,932.0,871,44.06,2015
Ulsan National Institute of Science and Technology,973,South Korea,36,367,567,218,880,912,645,984.0,349,44.06,2015
Federal University of Santa Maria,974,Brazil,16,367,396,218,954,974,812,975.0,871,44.05,2015
Shenzhen University,975,China,75,367,410,218,976,778,645,999.0,318,44.05,2015
Tianjin Medical University,976,China,76,367,567,218,885,857,812,946.0,839,44.05,2015
Beijing University of Technology,977,China,77,367,567,218,780,950,812,969.0,512,44.05,2015
University of Reims Champagne-Ardenne,978,France,48,367,567,218,967,884,645,958.0,544,44.05,2015
Yuan Ze University,979,Taiwan,20,367,567,218,923,984,812,946.0,871,44.05,2015
"University of Chemistry and Technology, Prague",980,Czech Republic,5,367,567,218,991,868,812,946.0,778,44.05,2015
University of Limerick,981,Ireland,8,367,529,218,892,863,812,969.0,516,44.05,2015
China Medical University (PRC),982,China,78,367,567,218,804,749,645,958.0,871,44.04,2015
Feng Chia University,983,Taiwan,21,367,434,218,902,991,812,975.0,871,44.04,2015
Zhejiang University of Technology,984,China,79,367,567,218,858,991,812,958.0,672,44.04,2015
Novosibirsk State University,985,Russia,5,167,567,218,819,858,645,991.0,871,44.04,2015
University of Bucharest,986,Romania,1,237,567,218,845,804,645,975.0,871,44.04,2015
Babe-Bolyai University,987,Romania,2,367,567,218,874,855,812,958.0,871,44.04,2015
Mansoura University,988,Egypt,3,367,567,218,987,969,645,958.0,871,44.04,2015
University of Pau and Pays de l'Adour,989,France,49,367,567,218,980,991,812,958.0,809,44.04,2015
Henan Normal University,990,China,80,367,567,218,959,991,812,958.0,871,44.04,2015
Xidian University,991,China,81,367,542,218,830,974,812,984.0,434,44.03,2015
Federal University of Bahia,992,Brazil,17,367,540,218,962,865,645,969.0,774,44.03,2015
Southwest Jiaotong University,993,China,82,367,327,218,937,962,812,998.0,861,44.03,2015
Ryerson University,994,Canada,33,367,567,218,811,969,511,975.0,756,44.03,2015
King Abdulaziz University,995,Saudi Arabia,4,367,449,218,595,430,645,994.0,839,44.03,2015
University of the Algarve,996,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
Alexandria University,997,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
Federal University of Cear,998,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
University of A Corua,999,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
China Pharmaceutical University,1000,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [29]:
dataframe.drop('world_rank')#dropping of selected coloumn by name

,world_rank,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,,,,
Harvard University,1,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
Massachusetts Institute of Technology,2,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
Stanford University,3,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
University of Cambridge,4,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
California Institute of Technology,5,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012
Princeton University,6,USA,5,8,14,2,53,33,26,NaN,101,82.50,2012
University of Oxford,7,United Kingdom,2,13,28,9,15,13,19,NaN,26,82.34,2012
Yale University,8,USA,6,14,31,12,14,6,15,NaN,66,79.14,2012
Columbia University,9,USA,7,23,21,10,13,12,14,NaN,5,78.86,2012
"University of California, Berkeley",10,USA,8,16,52,6,6,5,3,NaN,16,78.55,2012
University of Chicago,11,USA,9,15,26,8,34,20,28,NaN,101,73.82,2012
Cornell University,12,USA,10,21,42,14,22,21,16,NaN,10,73.69,2012
University of Pennsylvania,13,USA,11,31,16,24,9,10,8,NaN,9,73.64,2012
University of Tokyo,14,Japan,1,32,19,31,8,19,23,NaN,3,69.49,2012
Johns Hopkins University,15,USA,12,34,77,20,11,9,9,NaN,7,66.94,2012
Swiss Federal Institute of Technology in Zurich,16,Switzerland,1,26,66,11,40,51,44,NaN,34,66.69,2012
Kyoto University,17,Japan,2,42,38,19,25,36,43,NaN,23,65.76,2012
Weizmann Institute of Science,18,Israel,1,4,101,22,101,67,101,NaN,29,65.09,2012
"University of California, Los Angeles",19,USA,13,62,59,23,3,11,6,NaN,13,64.05,2012
"University of California, San Diego",20,USA,14,61,101,15,10,8,10,NaN,22,63.11,2012
Rockefeller University,21,USA,15,1,101,16,101,28,96,NaN,101,61.74,2012
Hebrew University of Jerusalem,22,Israel,2,24,93,13,101,91,101,NaN,28,60.76,2012
New York University,23,USA,16,89,75,17,42,24,34,NaN,62,60.55,2012
"University of California, San Francisco",24,USA,17,101,101,21,19,3,13,NaN,33,59.70,2012
University of WisconsinMadison,25,USA,18,64,63,33,17,30,21,NaN,21,59.66,2012
University of Illinois at UrbanaChampaign,26,USA,19,82,101,18,35,71,39,NaN,44,59.00,2012
Duke University,27,USA,20,65,43,55,20,15,12,NaN,20,58.37,2012
Imperial College London,28,United Kingdom,3,84,73,35,26,26,29,NaN,41,57.53,2012
University of Texas Southwestern Medical Center,29,USA,21,19,101,32,101,43,84,NaN,101,56.43,2012
University of Texas at Austin,30,USA,22,101,78,27,41,47,40,NaN,57,56.18,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fu Jen Catholic University,971,Taiwan,19,367,446,218,984,887,812,958.0,824,44.06,2015
Hunan Normal University,972,China,74,367,567,218,923,917,812,932.0,871,44.06,2015
Ulsan National Institute of Science and Technology,973,South Korea,36,367,567,218,880,912,645,984.0,349,44.06,2015
Federal University of Santa Maria,974,Brazil,16,367,396,218,954,974,812,975.0,871,44.05,2015
Shenzhen University,975,China,75,367,410,218,976,778,645,999.0,318,44.05,2015
Tianjin Medical University,976,China,76,367,567,218,885,857,812,946.0,839,44.05,2015
Beijing University of Technology,977,China,77,367,567,218,780,950,812,969.0,512,44.05,2015
University of Reims Champagne-Ardenne,978,France,48,367,567,218,967,884,645,958.0,544,44.05,2015
Yuan Ze University,979,Taiwan,20,367,567,218,923,984,812,946.0,871,44.05,2015
"University of Chemistry and Technology, Prague",980,Czech Republic,5,367,567,218,991,868,812,946.0,778,44.05,2015
University of Limerick,981,Ireland,8,367,529,218,892,863,812,969.0,516,44.05,2015
China Medical University (PRC),982,China,78,367,567,218,804,749,645,958.0,871,44.04,2015
Feng Chia University,983,Taiwan,21,367,434,218,902,991,812,975.0,871,44.04,2015
Zhejiang University of Technology,984,China,79,367,567,218,858,991,812,958.0,672,44.04,2015
Novosibirsk State University,985,Russia,5,167,567,218,819,858,645,991.0,871,44.04,2015
University of Bucharest,986,Romania,1,237,567,218,845,804,645,975.0,871,44.04,2015
Babe-Bolyai University,987,Romania,2,367,567,218,874,855,812,958.0,871,44.04,2015
Mansoura University,988,Egypt,3,367,567,218,987,969,645,958.0,871,44.04,2015
University of Pau and Pays de l'Adour,989,France,49,367,567,218,980,991,812,958.0,809,44.04,2015
Henan Normal University,990,China,80,367,567,218,959,991,812,958.0,871,44.04,2015
Xidian University,991,China,81,367,542,218,830,974,812,984.0,434,44.03,2015
Federal University of Bahia,992,Brazil,17,367,540,218,962,865,645,969.0,774,44.03,2015
Southwest Jiaotong University,993,China,82,367,327,218,937,962,812,998.0,861,44.03,2015
Ryerson University,994,Canada,33,367,567,218,811,969,511,975.0,756,44.03,2015
King Abdulaziz University,995,Saudi Arabia,4,367,449,218,595,430,645,994.0,839,44.03,2015
University of the Algarve,996,Portugal,7,367,567,218,926,845,812,969.0,816,44.03,2015
Alexandria University,997,Egypt,4,236,566,218,997,908,645,981.0,871,44.03,2015
Federal University of Cear,998,Brazil,18,367,549,218,830,823,812,975.0,824,44.03,2015
University of A Corua,999,Spain,40,367,567,218,886,974,812,975.0,651,44.02,2015
China Pharmaceutical University,1000,China,83,367,567,218,861,991,812,981.0,547,44.02,2015

In [30]:
dataframe.drop(dataframe.columns[[0, 3, 5]], axis=1)#drop by column number

,country,national_rank,alumni_employment,publications,influence,citations,broad_impact,patents,score,year
institution,,,,,,,,,,
Harvard University,USA,1,9,1,1,1,NaN,5,100.00,2012
Massachusetts Institute of Technology,USA,2,17,12,4,4,NaN,1,91.67,2012
Stanford University,USA,3,11,4,2,2,NaN,15,89.50,2012
University of Cambridge,United Kingdom,1,24,16,16,11,NaN,50,86.17,2012
California Institute of Technology,USA,4,29,37,22,22,NaN,18,85.21,2012
Princeton University,USA,5,14,53,33,26,NaN,101,82.50,2012
University of Oxford,United Kingdom,2,28,15,13,19,NaN,26,82.34,2012
Yale University,USA,6,31,14,6,15,NaN,66,79.14,2012
Columbia University,USA,7,21,13,12,14,NaN,5,78.86,2012
"University of California, Berkeley",USA,8,52,6,5,3,NaN,16,78.55,2012
University of Chicago,USA,9,26,34,20,28,NaN,101,73.82,2012
Cornell University,USA,10,42,22,21,16,NaN,10,73.69,2012
University of Pennsylvania,USA,11,16,9,10,8,NaN,9,73.64,2012
University of Tokyo,Japan,1,19,8,19,23,NaN,3,69.49,2012
Johns Hopkins University,USA,12,77,11,9,9,NaN,7,66.94,2012
Swiss Federal Institute of Technology in Zurich,Switzerland,1,66,40,51,44,NaN,34,66.69,2012
Kyoto University,Japan,2,38,25,36,43,NaN,23,65.76,2012
Weizmann Institute of Science,Israel,1,101,101,67,101,NaN,29,65.09,2012
"University of California, Los Angeles",USA,13,59,3,11,6,NaN,13,64.05,2012
"University of California, San Diego",USA,14,101,10,8,10,NaN,22,63.11,2012
Rockefeller University,USA,15,101,101,28,96,NaN,101,61.74,2012
Hebrew University of Jerusalem,Israel,2,93,101,91,101,NaN,28,60.76,2012
New York University,USA,16,75,42,24,34,NaN,62,60.55,2012
"University of California, San Francisco",USA,17,101,19,3,13,NaN,33,59.70,2012
University of WisconsinMadison,USA,18,63,17,30,21,NaN,21,59.66,2012
University of Illinois at UrbanaChampaign,USA,19,101,35,71,39,NaN,44,59.00,2012
Duke University,USA,20,43,20,15,12,NaN,20,58.37,2012
Imperial College London,United Kingdom,3,73,26,26,29,NaN,41,57.53,2012
University of Texas Southwestern Medical Center,USA,21,101,101,43,84,NaN,101,56.43,2012
University of Texas at Austin,USA,22,78,41,47,40,NaN,57,56.18,2012
...,...,...,...,...,...,...,...,...,...,...
Fu Jen Catholic University,Taiwan,19,446,984,887,812,958.0,824,44.06,2015
Hunan Normal University,China,74,567,923,917,812,932.0,871,44.06,2015
Ulsan National Institute of Science and Technology,South Korea,36,567,880,912,645,984.0,349,44.06,2015
Federal University of Santa Maria,Brazil,16,396,954,974,812,975.0,871,44.05,2015
Shenzhen University,China,75,410,976,778,645,999.0,318,44.05,2015
Tianjin Medical University,China,76,567,885,857,812,946.0,839,44.05,2015
Beijing University of Technology,China,77,567,780,950,812,969.0,512,44.05,2015
University of Reims Champagne-Ardenne,France,48,567,967,884,645,958.0,544,44.05,2015
Yuan Ze University,Taiwan,20,567,923,984,812,946.0,871,44.05,2015
"University of Chemistry and Technology, Prague",Czech Republic,5,567,991,868,812,946.0,778,44.05,2015
University of Limerick,Ireland,8,529,892,863,812,969.0,516,44.05,2015
China Medical University (PRC),China,78,567,804,749,645,958.0,871,44.04,2015
Feng Chia University,Taiwan,21,434,902,991,812,975.0,871,44.04,2015
Zhejiang University of Technology,China,79,567,858,991,812,958.0,672,44.04,2015
Novosibirsk State University,Russia,5,567,819,858,645,991.0,871,44.04,2015
University of Bucharest,Romania,1,567,845,804,645,975.0,871,44.04,2015
Babe-Bolyai University,Romania,2,567,874,855,812,958.0,871,44.04,2015
Mansoura University,Egypt,3,567,987,969,645,958.0,871,44.04,2015
University of Pau and Pays de l'Adour,France,49,567,980,991,812,958.0,809,44.04,2015
Henan Normal University,China,80,567,959,991,812,958.0,871,44.04,2015
Xidian University,China,81,542,830,974,812,984.0,434,44.03,2015
Federal University of Bahia,Brazil,17,540,962,865,645,969.0,774,44.03,2015
Southwest Jiaotong University,China,82,327,937,962,812,998.0,861,44.03,2015
Ryerson University,Canada,33,567,811,969,511,975.0,756,44.03,2015
King Abdulaziz University,Saudi Arabia,4,449,595,430,645,994.0,839,44.03,2015
University of the Algarve,Portugal,7,567,926,845,812,969.0,816,44.03,2015
Alexandria University,Egypt,4,566,997,908,645,981.0,871,44.03,2015
Federal University of Cear,Brazil,18,549,830,823,812,975.0,824,44.03,2015
University of A Corua,Spain,40,567,886,974,812,975.0,651,44.02,2015
China Pharmaceutical University,China,83,567,861,991,812,981.0,547,44.02,2015

# REFERENCES:

https://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe-using-python-del
https://www.kaggle.com/mylesoneill/world-university-rankings/data
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html
http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.shape.html
http://pythonhow.com/data-analysis-with-python-pandas/
http://www.scipy-lectures.org/intro/numpy/operations.html#basic-operations